/.git
/.vs
/VAPatches/libs
/VAPatches/obj

# ignore dlls in build except ours
/VAPatches/build/*/*.dll
!/VAPatches/build/Release/VAPatches.dll
/VAPatches/bin/Debug
/VAPatches/.vs
/VAPatches/bin/Release
